 .footer{
   background-color: #000000;
   display: flex;
   margin: 100px auto;
 }
 .column{
  max-width: 400px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-top: 100px;
 }
 .footer__logo{
  width: 300px;
 }
 .column__text{
  margin-left: 50px;
  font-size: 20px;
  padding-top: 30px;
 }
 .columns{
  max-width: 400px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
  margin-top: 100px;
 }
 .columnss{
  max-width: 400px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
  margin-top: 100px;
 }
 .title__text{
  font-size: 20px;
  margin-bottom: 20px;
  color: #fa0000;
 }
 .list__text{
  padding-bottom: 20px;
 }
 .text__list{
  color: #ffffff;
  text-decoration: none;
 }