@font-face {
    src:
    url(./Fyodor-Bold.ttf) format("ttf"),
    url(./Fyodor-Bold_1.ttf) format("ttf");
    font-family: "Fyodor";
    font-weight: bold;
}
@font-face {
    src:
    url(./Fyodor-BoldCondensed.ttf) format("ttf"),
    url(./Fyodor-BoldCondensed_2.ttf) format("ttf");
    font-family: "Fyodor";
    font-weight: normal;
}
@font-face {
    src:
    url(./Fyodor-BoldExpanded.ttf) format("ttf"),
    url(./Fyodor-BoldExpanded_1.ttf) format("ttf");
    font-family: "Fyodor";
    font-weight: 900;
}