<!DOCTYPE html>
<html lang="ru">

<head>
	{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safonofo boxing Club</title>
	<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
	<link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
</head>

<body class="page">
	<!-- Header -->
    <header class="header">
		<img class="header__logo" src="{% static '/img/eccrcgSkHqU.jpg' %}" alt="Грузится">
		<ul class="header__links">
            <li class="header__link"><a href="peresvet_safonovo@mail.ru" class="header__lang-link">peresvet_safonovo@mail.ru</a></li>
            <li class="header__link">
				<a href="{{ config.VK }}" class="header__lang-link">
					<img  class="logo__link" src="{% static '/img/vk.png' %}" alt="грузится">
                </a></li>
            <li class="header__link">
				<a href="https://wa.me/{{ config.CONTACT_PHONE }}" class="header__lang-link">
					<img class="logo__links" src=".{% static '/img/whatsapp.png' %}" alt="грузится">
                </a>
            </li>                         
	</header>

	<!-- Main -->
    <div class="media-grid">

        <div class="media-text">
            <div class="section-header">
                <span class="media-color">Бокс</span>
                <span class="media-texts">НАЧИНАЕТСЯ ЗДЕСЬ</span>
            </div>
            <div class="media-paragraph">
				{{ config.TEXT_1 }}				
			</div>
        </div>

        <div class="media-card card">
            <div class="media-card-video">
				<iframe width="100%" height="250px" class="media-card-clip" src="{% static 'img/video.mp4' %}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>
            <div class="media-card-text">
                <div class="media-card-name">🥊 Давайте к нам</div>
                <div class="media-card-paragraph">
					{{ config.TEXT_2 }}
				</div>
            </div>
        </div>
    </div>

	<!-- Gallery -->
    <div class="wrapper">		 
		{% for index, _ in slider_list %}
		{% if index == 1 or index == slider_list|length %}
		<input type='radio' name='point' id='slide{{ index }}' checked>
		{% else %}
		<input type='radio' name='point' id='slide{{ index }}'>
		{% endif %}
		{% endfor %}
		
        <div class="slider">
			{% for index, photo in slider_list %}
			<div class='slides slide{{ index }}'>
				<img class='sliderrr' src='media/{{ photo.file }}' alt=''>
			</div>
			{% endfor %} 
        </div>

        <div class="controls">
			{% for index, _ in slider_list %}
			<label for='slide{{ index }}'></label>
			{% endfor %}
        </div>
    </div>

	<!-- Blog Section -->
    <div class="novosti" id='blog'>
        <div class="novosti__title">Пока ты думаешь, другие делают!</div>
        <div class="grid">
			{% for post in post_list %}
			<div class='two-grid'>
				<img class='img-grid' src='media/{{ post.thumbnail }}' alt='Грузится'>
				<div class='first-text'>
					{{ post.text }}
				</div>
			</div>
			{% endfor %}
        </div>

	<!-- Trainers section -->
	<div class="novosti" id='trainers'>
		<div class="novosti__title">Наши тренеры</div>
		<div class="grid">
		{% for trainer in trainer_list %}
			<div class='two-grid'>
				<img class='img-grids' src='media/{{ trainer.photo }}' alt='Грузится'>
				<div>
					<h3>{{ trainer.fullname }}</h3>
					<br>
					<div class='first-text'>
						{{ trainer.description }}
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>

	<!-- Photos Section -->
	<section class="photo-grid">
		<ul class="photo-grid__item">
			{% for photo in photo_list %}
				<li>
					<img class='photo-grid__picture' src='media/{{ photo.file }}' alt='картинка грузится'>
				</li>
			{% endfor %}
		</ul>
	</section>

	<!-- Footer -->
	<footer>
		<div class="footer" id='contacts'>
			<div class="column">
				<img class="footer__logo" src="{% static 'img/1.jpg' %}">
			<div class="column__text">Бокс для каждого!</div>
			</div>
			<div class="columns">
				<div class="title__text">Меню</div>
				<ul class="list">
					<li class="list__text">
						<a href="#" class="text__list">О нас</a>
					</li>
					<li class="list__text">
						<a href="#contacts" class="text__list">Контакты</a>
					</li>
					<li class="list__text">
						<a href="#trainers" class="text__list">Тренера</a>
					</li>
					<li class="list__text">
						<a href="#blog" class="text__list">Новости</a>
					</li>
				</ul>
			</div>
			<div class="columnss">
				<div class="title__text">Адреса</div>
				<ul class="list">
					{% for address in address_list %}
					<li class='list__text'>
						<a href='http://maps.google.com/?q={{ address.address }}' class='text__list'>{{ address.address }}</a>
					</li>
					{% endfor %}

					<li class='list__text'>
						<a class="text__list">+{{config.CONTACT_PHONE}}</a>
					</li>
					<li class="list__text">
						<a class="text__list">peresvet_safonovo@mail.ru</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>
